document
{  
    margin: 0;  
    padding: 0;  
    cursor: none;
}  

body {
__~footersize{margin-bottom: __footersize__;}
}
__~style:backgroundimage{body {  background: url(__style:backgroundimage__) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}}

#splash td, #splash div {
    text-align: center;
}

#splash td {
    font-size: .85em;
}

#splash img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;  
}

.splashsmall {
    font-size: .65em;
    text-align: center;
    font-style: italic; 
}

textarea {
__~color:textarea{  color: rgb( __color:textarea__ );}
__~color:textarea_bg{  background: rgb( __color:textarea_bg__ );}
}

.title {
  text-decoration: none;
  outline: 0;
}


.title:hover {
   color: rgb( __select_color_rgb__ );  
}

.pagetitle {
   z-index: -1;
}

.opacity {
opacity: 0.7;
filter: alpha(opacity=70);
-webkit-transition: opacity 1s linear;
}

.opacity:hover {
opacity: 1;
filter: alpha(opacity=100);
-webkit-transition: opacity 1s linear;
}

td {
   padding-top:  0;
   padding-left: 0;
   padding-bottom: 0;
}

table {
    border-collapse: collapse;
}


.padcell td {
   padding-left: 5px;
   padding-right: 5px;
   text-align : center;
}

.padcell th {
   padding-left: 5px;
   padding-right: 5px;
   text-align : center;
}

__~footersize{footer { position: fixed; left: 0; bottom: 0; height: __footersize__; width: 100%; z-index:50;}}

#footertext { position: fixed; bottom: 0; width: 100%; text-align: center; }

.logo { position: fixed; bottom: 0px; right: 0; z-index:51;}
.wsstatus { position: fixed; right: 30px; color:red; z-index:51 }
.helpwsstatus {
    position:fixed;
    right:10px;
    min-width: 20em;
}

.warning {
color: rgb( __error_color_rgb__ );
}

.ui-state-highlight {
  color: rgb( __select_color_rgb__ );
}

.sidebar {
   position: absolute;
   __~style:menupositionfixed{position: fixed;}
   left: 0;
   __~style:sidebartop{top: __style:sidebartop__;}
   __~style:sidebarmargintop{margin-top: __style:sidebarmargintop__;}
   __~style:sidebarpaddingtop{padding-top: __style:sidebarpaddingtop__;}
   __~style:sidebarleftpadding{padding-left: __style:sidebarleftpadding__;}
   __~style:sidebarrightpadding{padding-right: __style:sidebarrightpadding__;}
   __~style:sidebarrightmargin{margin-right: __style:sidebarrightmargin__;}
   __~style:sidebarbackgroundcolor{background: rgb( __style:sidebarbackgroundcolor__ );}
   __~style:sidebartextalign{text-align: __style:sidebartextalign__;}
   __~style:sidebarheight{height: __style:sidebarheight__;}
   display: block;
}

.sidebar ul {
   list-style-type: none;
   padding-left: 0;
}

/* .sidebar ul li + li {
  border-top: 1px dotted;
} */

.sidebar ul li {
   display: block;  
   width: 140px;  
   __~style:sidebarwidth{width: __style:sidebarwidth__;}
   font-size: 18px;  
   line-height: 44px;  
   text-align: center;  
   __~style:menutextalign{text-align: __style:menutextalign__;}
   vertical-align: middle;
   text-decoration: none;  
   __~style:menutextcolor{color: rgb( __style:menutextcolor__ );}
   __~style:menubackgroundcolor{background: rgb( __style:menubackgroundcolor__ );}
   __~style:menumargintop{margin-top: __style:menumargintop__;}
   __~style:menupaddingtop{padding-top: __style:menupaddingtop__;}
   __~style:menuleftpadding{padding-left: __style:menuleftpadding__;}
   __~style:menurightpadding{padding-right: __style:menurightpadding__;}
   __~style:menurightmargin{margin-right: __style:menurightmargin__;}
}

.sidebar ul li img {
   vertical-align: middle;
   float: right;
}

.sidebar ul li:hover {
   color: rgb( __select_color_rgb__ );  
}

.config {
   vertical-align: middle;
   float: right;
}

.hoverhighlight {
   text-align: right;
}

.hoverhighlight:hover {
   color: rgb( __select_color_rgb__ );  
}

#panelmain {
position: relative;
    display: block;  

}

__~link_unvisited_color_rgb{a:link   {color: rgb( __link_unvisited_color_rgb__ );}}
a:visited {color: rgb( __text_color_rgb__ );}
__~link_hover_color_rgb{a:hover   {color: rgb( __link_hover_color_rgb__ );}}
a:active  {color: rgb( __select_color_rgb__ );}

.box-shadow-menu { 
vertical-align:middle;
font-size: 2em;
}

.box-shadow-menu:hover { 
  color: rgb(__select_color_rgb__);
  stroke: rgb(__select_color_rgb__);
}

.svgmenu {
  color: rgb(__text_color_rgb__);
  stroke: rgb(__text_color_rgb__);
  padding: 5px;
}
.svgmenu:hover { 
  color: rgb(__select_color_rgb__);
  stroke: rgb(__select_color_rgb__);
}
.highlight:hover { 
  color: rgb(__select_color_rgb__);
}

.help {
    __!bootstrap:package{background-color: rgba(__help_background_color_rgb__, 0.95 );}
    __!bootstrap:package{color: rgb(__help_text_color_rgb__);}
    border-radius: .5em;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    opacity: 0; /* Make it transparent */
    padding: .5em;
    position: absolute;
    text-decoration: none;
    visibility: hidden; /* and hidden */
/*    width: 25em; */
    z-index: 10000;
}

.hidden {
    opacity: 0;  
    visibility: hidden;
/*    display: none; */
}

.helpright {
    top: 60px;
}

.helpleft {
    left: 10px;
    min-width: 20em;
}

.help_link_on:hover + span {
    opacity: 1;
    visibility: visible;
}

.plot2ddef {
   width: 600px;
   height: 300px;
}

.coord {
    __!bootstrap:package{background-color: rgba(__help_background_color_rgb__, 0.95 );}
    __!bootstrap:package{color: rgb(__help_text_color_rgb__);}
    border-radius: .5em;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    opacity: 0; /* Make it transparent */
    padding: .5em;
    position: absolute;
    text-decoration: none;
    visibility: hidden;
/*    width: 25em; */
    z-index: 10;
}

.coordvisible {
    opacity: 1;
    visibility: visible;
}

.modalDialog {
   position: fixed;
/*             font-family: Arial, Helvetica, sans-serif; */
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: rgba(0,0,0,0.8);
   z-index: 99999;
   opacity:0;
   -webkit-transition: opacity 400ms ease-in;
   -moz-transition: opacity 400ms ease-in;
   transition: opacity 400ms ease-in;
   pointer-events: none;
}

.modalDialog_on {
   opacity:1;
   pointer-events: auto;
}

.modalDialog > div {
   width: 50%;
   position: relative;
   margin: 10% auto;
   padding: 5px 20px 13px 20px;
   border-radius: 10px;
   background: rgb( __background_color_rgb__ );
   background: -moz-linear-gradient(rgb( __background_color_rgb__ ), #222);
   background: -webkit-linear-gradient(rgb( __background_color_rgb__ ), #222);
   background: -o-linear-gradient(rgb( __background_color_rgb__ ), #222);
}

.modalClose {
   background: #606061;
   color: #FFFFFF;
   line-height: 25px;
   position: absolute;
   right: -12px;
   text-align: center;
   top: -10px;
   width: 24px;
   text-decoration: none;
   font-weight: bold;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   -moz-box-shadow: 1px 1px 3px #000;
   -webkit-box-shadow: 1px 1px 3px #000;
   box-shadow: 1px 1px 3px #000;
}

.modalClose:hover { background: #00d9ff; }

.modalDialog2 {
   position: fixed;
/*             font-family: Arial, Helvetica, sans-serif; */
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: rgba(0,0,0,0.8);
   z-index: 99998;
   opacity:0;
   -webkit-transition: opacity 400ms ease-in;
   -moz-transition: opacity 400ms ease-in;
   transition: opacity 400ms ease-in;
   pointer-events: none;
}

.modalDialog2_on {
   opacity:1;
   pointer-events: auto;
}

.modalDialog2 > div {
   width: 55%;
   position: relative;
   margin: 10% auto;
   padding: 5px 20px 13px 20px;
   border-radius: 10px;
   background: rgb( __background_color_rgb__ );
   background: -moz-linear-gradient(rgb( __background_color_rgb__ ), #222);
   background: -webkit-linear-gradient(rgb( __background_color_rgb__ ), #222);
   background: -o-linear-gradient(rgb( __background_color_rgb__ ), #222);
}


.modalDialog3 {
   position: fixed;
/*             font-family: Arial, Helvetica, sans-serif; */
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: rgba(0,0,0,0.8);
   z-index: 99999;
   opacity:0;
   -webkit-transition: opacity 400ms ease-in;
   -moz-transition: opacity 400ms ease-in;
   transition: opacity 400ms ease-in;
   pointer-events: none;
}

.modalDialog3_on {
   opacity:1;
   pointer-events: auto;
}
   

.table-wrapper {
   overflow: auto;
   max-height: 400px;
}

.modalDialog3 > div {
   max-width: 70%;
   position: relative;
   margin: 10% auto;
   padding: 5px 20px 13px 20px;
   max-height: 95%;
   border-radius: 10px;
   background: rgb( __background_color_rgb__ );
   background: -moz-linear-gradient(rgb( __background_color_rgb__ ), #222);
   background: -webkit-linear-gradient(rgb( __background_color_rgb__ ), #222);
   background: -o-linear-gradient(rgb( __background_color_rgb__ ), #222);
}

.modalDialog4 {
   position: fixed;
/*             font-family: Arial, Helvetica, sans-serif; */
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: rgba(0,0,0,0.8);
   z-index: 99999;
   opacity:0;
   -webkit-transition: opacity 400ms ease-in;
   -moz-transition: opacity 400ms ease-in;
   transition: opacity 400ms ease-in;
   pointer-events: none;
}

.modalDialog4_on {
   opacity:1;
   pointer-events: auto;
}
   
.modalDialog4 > div {
   max-width: 70%;
   position: relative;
   margin: 10% auto;
   padding: 5px 20px 13px 20px;
   max-height: 95%;
   border-radius: 10px;
   background: rgb( __background_color_rgb__ );
   background: -moz-linear-gradient(rgb( __background_color_rgb__ ), #222);
   background: -webkit-linear-gradient(rgb( __background_color_rgb__ ), #222);
   background: -o-linear-gradient(rgb( __background_color_rgb__ ), #222);
}

.legendLabel {
   color: rgb( __text_color_rgb__ );
}
.overflow {
   overflow-x : auto;
   overflow-y : auto;
}

.zeromargin {
    margin : 0;
}

.offscreen {
    position : fixed;
    right    : 100%;
    bottom   : 100%;
}

.startuphide {
    display  : none;
}

.ga-highlight {
    color: rgb( 255, 200, 0 );
}

.ga-field-output-control.ga-highlight {
    color: rgb( 255, 200, 0 );
}

.ga-field-input-control.ga-highlight {
    color: rgb( 0, 0, 0 );
}

.ga-field-output-control.ga-field-output-textarea {
    font-family: monospace;
    font-size: 0.75em;
}


/* job actions onclicks for jqGrid in job manager */
.ga-ja-r {
    color : red;
}

.ga-ja-g {
    color : green;
}

.ga-ja-y {
    color : yellow;
}

.ga-ja-r:hover {
    text-shadow: 1px 1px gray;
    cursor: pointer;
}
.ga-ja-g:hover {
    text-shadow: 1px 1px gray;
    cursor: pointer;
}
.ga-ja-y:hover {
    text-shadow: 1px 1px gray;
    cursor: pointer;
}

.ga-jqg-title {
    cursor: move;
}
