*~
*.lock
!languages/ui2/react/pnpm-lock.yaml
*.tsbuildinfo
.last_sas*
.last_json*
.pnpm-store/
node_modules/
etc/apps.json
etc/config.json
etc/no_sudo
#*
*#
.#*
secrets.json*
appconfig.json*
mongo
*rsa*
jobrunner*
