html, body, .ga-dd-grid {
    padding: 0;
}

body {
    height: calc( 100vh - 60px );
    width: 99.5vw;
}

.ga-dd-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

/* footer { position: fixed; left: 0; bottom: 0; height:50px; width: 100%; z-index:50;} */

.ga-dd-gridhg {
    display: grid;
    grid-template-rows: 1fr 10px 1fr;
    grid-template-areas:
        "module"
        "gutter"
        "designer";
    height: calc( 99vh - 60px );
}

.ga-dd-gridvg {
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "module gutter designer";
    height: calc( 99vh - 60px );
}

.ga-dd-gutter {
    grid-area: gutter;
    background: rgba(0,0,0,0.2);
    margin: 2px;
    cursor: col-resize;
}

.ga-dd-on {
    user-select: none;
    border: 1px solid coral;
    cursor: grab;
}
.ga-dd-menu {
    font-family: Arial;
    display: none;
    position: absolute;
    z-index: 100;
    background-color: white;
    border: 1px solid gainsboro;
    margin: 12px;
    padding: 5px;
    box-shadow: 3px 4px gainsboro;
    border-radius: 7px;
    cursor: pointer;
}

.ga-dd-dd {
    grid-area: designer;
    font-family: Arial;
/*    height: calc( ( 100vh - 60px - 25px ) / 2 ); */
    overflow: scroll;
    background:white;
u}

.ga-dd-iclr {
    filter: invert(95%);
}

.ga-dd-menu-e {
    color: black;
}

.ga-dd-menu-info {
    color: #005500;
}

.ga-dd-menu-e:hover {
    background-color : azure;
}

.ga-dd-menu-e.ga-dd-iclr {
    color: white;
}

.ga-dd-menu-e.ga-dd-iclr:hover {
    color: black;
    filter: invert(95%);
}
.ga-dd-sel {
    border: 2px solid lawngreen;
    background-color : azure;
}
.ga-dd-pick {
    border: 2px solid blue;
}

.ga-dd-pointer {
    cursor: pointer;
}

/* Style the tab */
.ga-dd-tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.ga-dd-tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.ga-dd-tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.ga-dd-tab tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.ga-dd-tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: white;
/*    height: calc( 100vh - 60px - 60px); */
    overflow: auto;
} 

.ga-dd-mod {
    grid-area: module;
/*    height: calc( ( 100vh - 60px - 25px ) / 2 ); */
/*    overflow: scroll; */
} 

.ga-dd-fid {
    display: none;
    font-style: italic;
    color: beige;
}

.ga-dd-fid.ga-dd-fid-on {
    display: block;
}

.ga-dd-pid {
    display: none;
    font-style: italic;
    color: yellow;
}

.ga-dd-pid.ga-dd-pid-on {
    display: block;
}

.ga-dd-panel {
}

