// Following instructions here: https://getbootstrap.com/docs/4.3/getting-started/theming/#importing

// Include SCSS of Bootstrap


// Directive and other variables
// TODO: maybe put these replacements into separate file?
// $text-color-rgb: rgb(220,210,210);
// $background-color-rgb: rgb(0,0,95);
// $button-color-rgb: rgb(228,255,250);

// // Bootstrap variable overrides
// $body-color: $text-color-rgb;
// $body-bg: $background-color-rgb;
// $theme-colors: (
//   "primary": $button-color-rgb
// );

// Required
// @import "./node_modules/bootstrap-material-design/scss/functions";
// @import "./node_modules/bootstrap-material-design/scss/variables";
// @import "./node_modules/bootstrap-material-design/scss/mixins";

// Optional
// @import "./node_modules/bootstrap-material-design/scss/reboot";
// @import "./node_modules/bootstrap-material-design/scss/forms";
// @import "./node_modules/bootstrap-material-design/scss/grid";
// @import "./node_modules/bootstrap-material-design/scss/buttons";
// @import "./node_modules/bootstrap-material-design/scss/type";

$input-disabled-bg : null;
$input-placeholder-bg : null;

@if "__bootstrap:theme__" == "solar" {
    $input-disabled-bg : #556b73 !global;
    $input-placeholder-color : #556b73 !global;
}

@import "./node_modules/bootswatch/dist/__bootstrap:theme__/variables";
@import "./node_modules/bootstrap/scss/bootstrap";
@import "./node_modules/bootswatch/dist/__bootstrap:theme__/bootswatch";

